.singleproject-topsec{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    gap:40px;
    /* height: 500px; */
    margin-top: 20px;
}

.singleproject-imagesec{
    padding: 10px;
}

div.singleproject-imagesec img{
    max-width: 31vw;
    max-height: 90vh;
    object-fit: cover;
    overflow: hidden;
    position: sticky;
    top:20px;
    padding: 10px;
}

.singleproduct-title{
    font-size: 30px;
    overflow-wrap: break-word;
}

.singleproduct-decocontext{
    color:rgb(2, 138, 138)
}

.singleproduct-primedeco{
    font-size: 12px;
    color: white;
    background-color: black;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.singleproject-topmid{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* overflow-x: hidden; */
}

.singleproduct-choice{
    color:#ffbd18;
}

.singleproduct-pricesec{
    display: flex;
    align-items: center;
    gap: 10px;
}
.singleproduct-price{
    display: flex;
    align-items: center;
}

.singleproduct-pricecontext{
    font-size: 30px;
}

.singleproduct-discount{
    font-size: 25px;
    color: rgb(198, 2, 2,0.7);
}

.singleproduct-midsecond{
    border-top:1px rgb(0, 0, 0,0.2) solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.singleprodcut-listprice{
    text-decoration: line-through;
}

.singleproduct-primeday{
    display: flex;
    gap: 5px;
}

.Prime{
    color: rgb(54, 174, 248);
    font-weight: bold;
    font-size: 15px;
}

.singleproduct-midthird{
    border-top:1px rgb(0, 0, 0,0.2) solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

}

.singleproduct-about{
    font-size: 15px;
    font-weight: bold;
    /* overflow-x: hidden;
    width: 100%; */
}

.singleproduct-basicinfo{
    display: flex;
}

.singleproduct-infotitle{
    font-size: 15px;
    font-weight: bold;
    width: 40%;
    margin-right: 10px;
}

.singleproduct-rightsec{
    border: 1px solid rgb(0, 0, 0,0.2);
    width: 20vw;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.singleproject-entire{
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 70px;
}

.singleproduct-stock{
    font-size: 20px;
    color: darkgreen;
}

.singleproduct-selectsec select{
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(0, 0, 0,0.2);

}
.singleproduct-option{
    font-size: 10px;
}

.singleproduct-productform input{
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    background-color: #ffbd18;
    cursor: pointer;
}

.singleproduct-signinsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffbd18;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;

}

.singleproduct-about{
    margin-top: 50px;
}

.singleproduct-aboutcontext{
    /* overflow-x: hidden; */
    overflow-wrap: break-word;
}

.singleproduct-subcolor{
    overflow-x: hidden;
}

.desplus{
    padding-top: 15px;
}





.rating-content {
    color: #ffa100;
  }
  
.rating-content span {
    display: inline-block;
    position: relative;
    font-size: 20px;
  }
  
  .rating-content[data-rating="0.5"] span:nth-child(n+1),
  .rating-content[data-rating="1.5"] span:nth-child(n+2),
  .rating-content[data-rating="2.5"] span:nth-child(n+3),
  .rating-content[data-rating="3.5"] span:nth-child(n+4),
  .rating-content[data-rating="4.5"] span:last-child{
    color: #FFF;
  }
  
  .rating-content[data-rating="0.5"] span:nth-child(n+1):before,
  .rating-content[data-rating="1.5"] span:nth-child(n+2):before,
  .rating-content[data-rating="2.5"] span:nth-child(n+3):before,
  .rating-content[data-rating="3.5"] span:nth-child(n+4):before,
  .rating-content[data-rating="4.5"] span:last-child:before{
    content: "\2605";
    display: block;
    position: absolute;
    width: 50%;
    pointer-events: none;
    overflow: hidden;
    color: #ffa100;
  }
  
  .rating-content[data-rating="0"] span:nth-child(n),
  .rating-content[data-rating="0.5"] span:nth-child(n+2),
  .rating-content[data-rating="1"] span:nth-child(n+2),
  .rating-content[data-rating="1.5"] span:nth-child(n+3),
  .rating-content[data-rating="2"] span:nth-child(n+3),
  .rating-content[data-rating="2.5"] span:nth-child(n+4),
  .rating-content[data-rating="3"] span:nth-child(n+4),
  .rating-content[data-rating="3.5"] span:nth-child(n+5),
  .rating-content[data-rating="4"] span:nth-child(n+5){
    display: none;
  }


.ratesec{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 5px;
}

.sp-rev{
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 30px;
    border-top:1px rgb(0, 0, 0,0.2) solid;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.sp-rvtitle{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.userinfo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.userinfo i{
    font-size: 30px;
    color: #ffffffa9;
    background-color: grey;
    border: 4px gray solid;
    border-radius: 50px;
}

.sp-review{
    margin-bottom: 20px;
}

.sp-rvcontext{
    font-size: 12px;
    color: #d78903;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px solid rgb(0, 0, 0,0.2);
    padding-left: 10px;
}

.sp-rateleftsec{
    padding-right: 200px;
    width: 30vw;
}

.sp-rateitem{
    display: flex;
    gap: 10px;
}

.sp-ratingmap{
    display: flex;
    flex-direction: column;
    gap:10px;
    min-width: 300px;
}

.middle {
    /* float: left; */
    width: 70%;
    /* margin-top: 10px; */
  }

.bar-container {
    width: 100%;
    background-color: #f1f1f1c4;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0,0.3);
  }

.bar-5 { width: 0%; height: 18px; background-color: #ff9800;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; 
    /* max-width: 100%; */
}
.bar-4 {width: 0%; height: 18px; background-color: #ff9800;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}
.bar-3 {width: 0%; height: 18px; background-color: #ff9800;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}
.bar-1 {width: 0%; height: 18px; background-color: #ff9800;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;   
}

.sp-decotext{
    font-size: 14px;
    color: rgb(0, 0, 0,0.6);
    margin-bottom: 5px;
}

.sp-about{
   font-weight: bold;
   font-size: 15px;
}

.sp-broken{
    font-size: 20px;
}