.ft-section{
    font-family: "Lato";
    background-color: #293641;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.footer-links-labels{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.ft-context{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 60%;
}

.footer-links-subcontext{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.49);
    font-size: 12px;
}

.footer-links-subcontext:hover{
    color: white;
    text-decoration: underline;
}