.hidden{
    display: none
}

.profile-dropdown{
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 5%;
    border-radius: 10px;
    min-height: 200px;
    padding-left: 0px;
    z-index: 99;
}

.navigation-section{
    display: flex;
    justify-content: space-between;
    background-color: #0F1111;
    align-items: center;
    height:65px;
}

.navigation-rightsec{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
}

.navigation-leftsec{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.navigation-address{
    color:white
}

.navigation-logo{
    color: #f9f9f9;
    text-decoration: none;
    object-fit: cover;
}

.search-container{
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.form-input input{
    width: 50vw;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f9f9f9;

}

.form-input button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffbd18;
    border: none;
    outline: none;
}

.form-input{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-search{
    width: 40px;
    color: rgb(36, 36, 36,0.8);
    font-size: 22px;
}

.navigation-sublogo{
    width: 150px;
    height: 90px;
    overflow: hidden;
}

.navigation-leftright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Lato';
    font-weight: bold;
}

.profile-dropbutton{
    font-family: 'Lato';
    color: #f9f9f9;
    cursor: pointer;
}

.profile-context{
  display: flex;
  font-size: 12px;
}

.profile-contextb{
    font-weight: bold;
}

.ng-secondsec{
    color: white;
    width: 5vw;
}
.ng-thirdsec{
    color: white;
    margin-right: 1vw;
}

.ng-thirdsec i{
    font-size: 30px;
}

.np-seconddown{
    font-weight: bold;
}

.topbutton{

}

.topbutton:hover{
    border:1px,white,solid;
}