.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
}

.login-sublogo{
    object-fit: cover;
    width: 180px;
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgb(0, 0, 0,0.2);
    border-radius: 5px;
    padding: 25px;
    gap:10px;
}

.login-formitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-formtitle{
    font-size: 30px;
}

.login-formitem label{
    font-weight: bold;
}

.login-formitem input{
    border: 1px solid rgb(0, 0, 0,0.4);
    border-radius: 5px;
    height: 30px;
}

.login-formitem select{
    border: 1px solid rgb(0, 0, 0,0.4);
    border-radius: 5px;
    height: 30px;
}

.login-buttom{
    background-color: #f9cc5c;
    border: 1px solid rgb(0, 0, 0,0.4);
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 0.4s;
}

.login-buttom:hover{
    background-color: #ffbd18;
}

.login-subtext{
    font-size: 12px;
}

.login-demouser{
    background-color: #f9cc5c;
    border: 1px solid rgb(0, 0, 0,0.4);
    border-radius: 5px;
    height: 20px;
    width: 350px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    transition-duration: 0.4s;

}

.login-demouser:hover{
    background-color: #ffbd18;
}

.login-bottomsec{
    width: 350px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgb(0, 0, 0,0.2);
    margin-top: 10px;

}

.login-createnew{
    width: 350px;
    border: 1px solid rgb(0, 0, 0,0.4);
    border-radius: 5px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
    background-color: rgb(0, 0, 0,0.1);
    cursor: pointer;
}
.login-createnew:hover{
    background-color: rgb(0, 0, 0,0.2);
}

.signupform-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.singup-outersec{
    margin-bottom: 20px;
}

.signup-bottomsec{
    display: flex;
    flex-direction: row;
    gap:5px
}

.signup-signin{
    color: rgb(29, 164, 248);
    cursor: pointer;
}

.signin-errors{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 13px;
    color: #6b4708;
}
