.productform-delebutton{
    color: black;
}

.productform-totalsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0,0.2);
    padding-top: 20px;
}

.productform-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap:20px;
    border-top: 1px solid rgb(0, 0, 0,0.2);
    padding-top: 30px;
    width: 70%;
}

.productform-listitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.productform-listitem input{
    margin-left: 20px;
    width: 40vw;
    height: 30px;
    border:1px solid rgb(0, 0, 0,0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.productform-listitem textarea{
    margin-left: 20px;
    width: 40vw;
    height: 150px;
    border:1px solid rgb(0, 0, 0,0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.productform-listitem select{
    text-decoration: none;
    outline: none;
    margin-left: 20px;
    width: 40vw;
    height: 30px;
    border:1px solid rgb(0, 0, 0,0.2);
    border-radius: 5px;
    padding-right: 6px;
    box-sizing: border-box;
}



.productform-listitem label{
    font-weight: bold;
}

.productform-title{
    font-size: 20px;
    padding-bottom: 25px;
}

.spotbutton{
    width: 250px;
    height: 35px;
    background-color: rgb(32, 113, 140);
    transition-duration: 0.4s;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.spotbutton:hover{
    background-color: rgb(14, 81, 104);
}

.productform-buttomsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.productform-errorsec{
    padding-top: 40px;
    font-family: 'Lucida Sans Regular', sans-serif;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0,0.2) ;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.error-title{
    text-align: center;
}

.productform-errortext{
    color:rgb(79, 81, 81);
    padding-bottom: 10px;
}

.ertlbu{
    color: rgb(32, 113, 140);
    font-size: 20px;
    border:none;
    gap:20px;
}

.error-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.productform-errtitletext{
    font-size: 30;
    color: rgb(32, 113, 140);
}

.Productform-delebutton{
    margin-top: 1em;
    font-family: 'Lato', 'Lucida Sans Regular', sans-serif;
    align-items: center;
    background-color:rgb(32, 113, 140);
    color:white;
    cursor: pointer;
    border: none;
    width: 250px;
    height: 35px;
    font-size: 15px;
    transition-duration: 0.4s;
}

.Productform-delebutton:hover{
    background-color: rgb(14, 81, 104);
}

.pf-picupload{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pf-awssec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
    width: 70%;
    padding-top: 20px;
    border-top: 1px solid rgb(0, 0, 0,0.2);
}

.pf-imagebtn{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(32, 113, 140);
    border: 1px solid rgb(0, 0, 0,0.2);
    cursor: pointer;
    color: white;
}

.pf-imagebtn:hover{
    background-color: rgb(14, 81, 104);
}

#file-upload-button{
    size:30px
}


.custom-file-input::-webkit-file-upload-button {
   display: none;
}
.custom-file-input::before {
  content: 'Select your image';
  display: inline-block;
  background-color: rgb(32, 113, 140);
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border: 1px solid #999; */
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  transition-duration: 0.4s;
  color: white;
}
.custom-file-input:hover::before {
   background-color: rgb(14, 81, 104);
}
.custom-file-input:active::before {
  /* background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
  background-color: rgb(32, 113, 140);
}

.custom-file-input{
    border: 1px rgb(0, 0, 0,0.3) solid;
    color: grey;

}

.pf-image{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.pf-awstitle{
    font-weight: bold;
}