.da-entiresec{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100vh;
    margin-bottom: 20px;
}

.da-typingsec{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 10px;
    width: 55vw;
    margin-left: 7px;
    padding: 20px;
}

.docimage{
    width: 120px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.da-topsec{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    border-top: 1px solid rgb(0, 0, 0,0.2);
}

.da-topright{
    border: 1px rgb(0, 0, 0,0.3) solid;
    width: 80%;
    height: 30vh;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.da-bottomsec{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    gap: 20px;
}

.da-input{
    width: 40vw;
}

.da-button{
    border: 1px solid rgb(0, 0, 0,0.5);
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
    border-radius: 5px;
    width: 50px;
}

.da-button:hover{
    background-color: #ffbd18;
    box-shadow: #d78903 1px 0 5px;
}

.da-button i{
    font-size: 18px;
    color: rgb(0, 0, 0,0.5);
}

/* .da-button i:hover{
    color: #d78903;
    text-shadow: #FC0 1px 0 5px;
} */

.da-text{
    color: #d78903;
    border-right: 1px solid transparent;
    animation: blink-caret .75s step-end infinite;
    font-family: Consolas, Monaco;
    padding: 2px;
}


@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: currentColor; }
}

.da-pretext{
    font-family: Consolas, Monaco;
    color: #d78903;
    padding: 2px;
}

.chatgpt{
    font-size: 10px;
}

.da-title{
    font-size: 20px;
}

.doctyping{
    color: #d78903;
}


#caret {
    border-left: 1px solid orange;
    margin-left: 3px;
    animation: blink-caret 0.75s infinite;
  }
  
  
@keyframes blink-caret {
    from {
      border-color: transparent;
    }
    to {
      border-color: orange;
    }
  }